.header {
    height: 50px;
    background-color: yellow;
}
.footer {
    height: 50px;
    background-color: green;
}
.content {
    width: 80%;
    height: 500px;
    background-color: pink;
    display: inline-block;
}
.sidebar {
    height: 500px;
    width: 20%;
    background-color: grey;
    float: right;
}