$unit: 16px;

$white: #fff;
$light-peach: #f3c6bd;
$light-blue: #3040c4;
$light2-blue: #3142c6;
$dark-black-10: #2b292d1a;
$light-white: #f4f5f7;
$light-green: #009b4d;
$dark-black: #2b292d;
$dark-black-15: #00000026;
$dark-black-60: #2b292d99;

$light-gray: #e3e3e3;
$white-orange-60: #fcf0e366;
$light-red: #f1592b;
